.header-component {
  padding-inline-start: 2%;
  padding-inline-end: 2%;
  /* padding-block-start: 1%; */
  padding-inline-end: 1%;
  margin-block-end: 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.158);
  position: relative;
}

@media screen and (max-width: 768px) {
  .header-component {
    display: inline-flexbox;
  }
  .header-component .image .regulus-logo {
    max-width: 30%;
    padding: 2%;
  }
}

@media screen and (min-width: 769px) {
  .header-component {
    display: flex;
  }
  .header-component .image .regulus-logo {
    max-width: 20%;
  }
}

/* ---------------- */

.header-component .logo {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-component .image.logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-component .logo .image .regulus-logo {
  border-radius: 5%;
}

.header-component .logo .description {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.header-component .description .main {
  font-weight: bold;
  font-size: x-large;
}

.header-component .description .sub {
  font-weight: normal;
  font-size: medium;
}

/* ---------------- */

.header-component .navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header-component .navigation .nav-link {
  text-decoration: none;
  display: flex;
  flex: 1;
  font-size: medium;
  align-items: center;
  justify-content: center;
}

.header-component .navigation .nav-link {
  background-color: white;
  color: rgb(52, 186, 190)
}

.header-component .navigation .nav-link:hover {
  color: white;
  background-color: rgb(52, 186, 190)
}

.header-component .navigation .nav-link:active {
  color: white;
  background-color: rgb(52, 186, 190)
}