.article-screen {
  display: inline-flexbox;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  /* margin: 17.1141% */
}

.article-screen>.info {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info .pallete {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 186, 190);
  padding: 10%
}

.info.introduction {
  background-color: red;
  /* margin: 0;
  padding: 0; */
}

.introduction .pallete.logo {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  /* margin-right: 5%; */
  font-size: xx-large;
  z-Index: 1;
}

.introduction .pallete.logo-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  z-Index: 1;
  /* margin-left: 5%; */
}

.introduction .logo-description #main {
  font-weight: bold;
}

.introduction .logo-description #sub {
  font-weight: normal;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.logo-bungkus {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 20%;
}