.contact-screen {
  display: inline-flexbox;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}

.contact-screen .image.cover {
  margin-block-end: 10%;
}

.contact-screen .image.cover .banner {
  width: 100%;
  height: auto;
}

.contact-screen .contact-form {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-screen .contact-form .flex-cell {
  margin-block-start: 2%;
  height: 300px;
}

.contact-screen .contact-form .identifier {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .contact-screen .contact-form .identifier {}
}

@media screen and (min-width: 761px) {
  .contact-screen .contact-form .identifier {
    float: left;
  }
}

.contact-screen .contact-form .text-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-screen .contact-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-block-end: 5%;
}

.contact-screen .contact-form label text {
  margin-block-end: 2%;
}

.contact-screen .contact-form .identifier input {
  width: 300px;
}

.contact-screen .contact-form .text-box textarea {
  height: 75%;
}