.home-screen {
  display: inline-flexbox;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}

.home-screen .image.cover {
  margin-block-end: 10%;
}

.home-screen .image.cover .banner {
  width: 100%;
  height: auto;
}

.home-screen .introduction {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.home-screen .introduction .image .regulus-logo {
  width: 80%;
  height: auto;
}

.home-screen .introduction .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 5%;
}

.home-screen .introduction .description .main {
  font-weight: bold;
  font-size: xx-large;
  color: rgb(52, 186, 190);
  margin-block-end: 10%;
}

.home-screen .introduction .description .sub {
  font-weight: normal;
}